#two-col {
    width: 90%;
}

#two-col > .col {
    flex: 1;
}

.box.special {
    text-align: center;
}

.box {
    background-color: #232323;
    border-radius: 6px;
    box-shadow: 0 2px 0 0 #e5e5e5;
    margin: 0 0 2em 0;
    padding: 3em;
}

section {
    display: block;
    border: 0;
    color: white;
    letter-spacing: -0.015em;
}

.box .image.featured img {
    border-radius: 6px 6px 0 0;
    width: 45em;
    object-fit: cover;
}

.actions.special {
    list-style-type: none;
}
